@{
    ViewBag.Title = "Armor";
}

@*Change depending on if there is a user logged in or not*@
<div id="registationProfileButton">
    <input type="button" value="Registration" class="blue-action-button" />
</div>