




<div id="slidingPanel">
    @Html.RenderPartial("_Create", new Armor.Web.Models.CreateAccountModel())
</div>


@*Change depending on if there is a user logged in or not*@
<div id="registationProfileButton">
    <input type="button" value="Registration" class="blue-action-button" />
</div>

